
    #siteName
        {
            color:rgb(238, 200, 9);
        }
        
article
{
  display:flex;
  flex-direction: column;
  flex-wrap:wrap; 
  gap:10px;
  padding: 10px;;
  margin:20px;
}

div.recipe
{
  display:flex;
  flex-direction:row;
  box-shadow: 8px 8px 10px -5px rgba(0,0,0,0.3);
  border:1px solid cornsilk;
  border-radius:10px
}

.recipe
{
  width:100%;
}

.top
{
  ;
  
}

.recipeTitle,.recipeShort
{
    margin: 5%;
  
}

.recipeShort
{
  margin-top:0px;
  
}

